<header class="login-h">
  <div class="logo login-portal animated fadeIn">
    <h3><span><i class="fa fa-plus-circle"></i></span>Diabee</h3>
  </div><!-- .logo -->
  </header>
<div class="container login-main animated fadeInUp">
  <h3>Sign in to continue.</h3>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <ul>
      <li><%= f.check_box :remember_me %></li>
      <li class="c-box-label"><%= f.label :remember_me %></li>
      </ul>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

</div><!-- .container -->
