<!DOCTYPE html>
<html>
<head>
  <title>Diabee / A glucose levels tracker app</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
   <i id="toggle" class="fa fa-bars"></i>
	<nav class="main-nav">
    <span class="close"><i id="close" class="fa fa-times"></i></span>
    <div class="nav-inner">
         <ul>
            <li class="user-id"><% if user_signed_in? %><%= current_user.email %></li>
            <li><%= link_to "Home", entries_path %></li>
            <li><%= link_to "About", {:controller => '/pages', :action => 'about'} %></li> 
            <li role="separator" class="divider"></li>         
            <li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> </li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></li>
            <% else %>
            <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %></li>
            <li><%= link_to "Sign in", new_user_session_path, :class => 'navbar-link' %></li>
            <% end %>
          </ul>
    </div>
</nav>
<div class="container">
<% if notice %>
<div class="alert alert-success animated fadeIn" role="alert" >
  <a class="close" data-dismiss="alert" aria-hidden="true">×</a>
      <span class="notice"><%= notice %></span>
</div>
  <% end %>
  <% if alert %>
  <!-- <div class="alert alert-danger" role="alert">
    <a class="close" data-dismiss="alert" aria-hidden="true">×</a>
      <span class="alert"><%= alert %></span>
    </div> -->
  <% end %>
<%= yield %>
</div><!-- .container -->
 <!-- <footer>
   <p>Copyright (c) 2015</p>
 </footer> -->
 <script>
 // Nav Toggle
$(function() {
$( '#toggle' ).click(function() {
  $( '.main-nav' ).toggle( 'slide' , { direction: 'left' }, 200  );
  });
  
});

$(function() {
$( '#close' ).click(function() {
  $( '.main-nav' ).toggle( 'slide' , { direction: 'left' }, 200  );
  });
  
});
</script>
</body>
</html>
